DATABASE_URL=""

BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

ORG_NAME=""
DESCRIPTION=""

UPSTREAM_API_KEY=""

RESEND_API_KEY=""
EMAIL_FROM=""

AI_URL=""
AI_KEY=""
AI_MODEL=""

RUSTFS_ENDPOINT=""
RUSTFS_ACCESS_KEY_ID=""
RUSTFS_SECRET_ACCESS_KEY=""