DATABASE_URL=""

BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""

VERSION=""

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
MICROSOFT_CLIENT_ID=""
MICROSOFT_CLIENT_SECRET=""

ORG_NAME=""
DESCRIPTION=""

UPSTREAM_API_KEY=""

RESEND_API_KEY=""
EMAIL_FROM=""

AI_URL=""
AI_KEY=""
AI_MODEL=""

QOTD=""

LOGIN_BANNER_MESSAGE=""

RUSTFS_ENDPOINT=""
RUSTFS_REGION=""
RUSTFS_ACCESS_KEY_ID=""
RUSTFS_SECRET_ACCESS_KEY=""
RUSTFS_BUCKET=""
RUSTFS_PUBLIC_BASE_URL=""
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""

NEXT_PUBLIC_VAPID_PUBLIC_KEY=""
VAPID_PUBLIC_KEY=""
VAPID_PRIVATE_KEY=""
VAPID_EMAIL=""
SEQ_FIRSTRUN_ADMINPASSWORD=""
