DATABASE_URL="postgres://quacky:quacky@quackydb:5432/quacky"

# Authentication
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# Branding
ORG_NAME=""

# Optional
UPSTREAM_API_KEY=""

# Development only
VERSION="0.1.0"

# Email
RESEND_API_KEY=""
EMAIL_FROM=""