@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-lexend), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --background: hsl(46, 28%, 94%);
  --foreground: hsl(20, 14.3%, 4.1%);

  --muted: hsl(42, 18%, 90%);
  --muted-foreground: hsl(25, 8%, 32%);

  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(20, 14.3%, 4.1%);

  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(20, 14.3%, 4.1%);

  --border: hsl(35, 18%, 78%);
  --input: hsl(35, 16%, 88%);

  --primary: hsl(22, 100%, 15%);
  --primary-foreground: hsl(60, 9.1%, 97.8%);

  --secondary: hsl(42, 18%, 90%);
  --secondary-foreground: hsl(24, 9.8%, 10%);

  --accent: hsl(42, 18%, 90%);
  --accent-foreground: hsl(24, 9.8%, 10%);

  --destructive: hsl(0, 72.2%, 50.6%);
  --destructive-foreground: hsl(60, 9.1%, 97.8%);

  --ring: hsl(20, 14.3%, 4.1%);

  --radius: 0.5rem;

  --lynt: hsl(0, 0%, 100%);
  --lynt-focus: hsl(44, 18%, 96%);
}

.dark {
    --background: hsl(20, 14.3%, 4.1%);
    --foreground: hsl(60, 9.1%, 97.8%);

    --muted: hsl(12, 6.5%, 15.1%);
    --muted-foreground: hsl(24, 5.4%, 63.9%);

    --popover: hsl(20, 14.3%, 4.1%);
    --popover-foreground: hsl(60, 9.1%, 97.8%);

    --card: hsl(20, 14.3%, 4.1%);
    --card-foreground: hsl(60, 9.1%, 97.8%);

    --border: hsl(12, 6.5%, 15.1%);
    --input: hsl(12, 6.5%, 15.1%);

    --primary: hsl(60, 9.1%, 97.8%);
    --primary-foreground: hsl(24, 9.8%, 10%);

    --secondary: hsl(12, 6.5%, 15.1%);
    --secondary-foreground: hsl(60, 9.1%, 97.8%);

    --accent: hsl(12, 6.5%, 15.1%);
    --accent-foreground: hsl(60, 9.1%, 97.8%);

    --destructive: hsl(0, 62.8%, 30.6%);
    --destructive-foreground: hsl(60, 9.1%, 97.8%);

    --ring: hsl(24, 5.7%, 82.9%);
    --lynt: hsl(20, 4%, 14%);
    --lynt-focus: hsl(20, 4%, 14%);
}

@layer base {
  * {
    @apply border-border outline-ring;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
